body {
  font-size: 100%;
  line-height: 1.25em;
  
  background: url("stripe.png") transparent;
  color: #333;
}

h1 {
  font-family: 'Aldrich', cursive;
  font-size: 5em;
  text-align: right;
  margin: .7em 1.1em 0 0;
  padding-top: .3em;
}

p {
  font-family: 'Contrail One', cursive;
  font-size: 2em;
  
  position: relative;
  left: 31%;
  top: -3.5em;
  
  background: #825ABA;
  color: white;
  padding: .5em;
  z-index: -1;
}


#image {
  margin: 2.5em;
  padding: 1.25em;
  border: 1px solid yellow;
  width: 75%;
}

#text {
  padding-bottom: 1.25em;
  background: #A5F0B7;
}

#a, #b {
  padding-right: 2em;
}

#b, #c {
  padding-left: 2em;
}

img {
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  padding: .5em;
  margin: 0 1em 2.5em;
}
