<article id="item" class="block">
  <header class="info">
    <h6><a title="Permalink to {{ post.title }}" href="{{ post.url ]}}">{{ post.title }}</a></h6>
  </header>
  
  {% if post.images %}
    <div id="images">
      {% for image in post.images limit: {{limit}} %}
        <div id="image">
          <a title="Visit {{ image.title }} at {{ image.url }}" href="{{ image.url }}">
            <img class="{{ post.categories.first }}-border" title="Visit {{ image.title }} at {{ image.url }}" src="/assets/{{ image.src }}">
          </a>
          <p class="stars">* * *</p>
        </div>
      {% endfor %}
    </div>
    {{ post.content }}
  {% else %}
    <div id="just-text">
      {{ post.content }}
    </div>
  {% endif %}
  
  
</article>
