<nav id="collections" class="block">
  <h3 class="hidden">Category menu</h3>
    <h3 class="drop-shadow lifted rotated"><a href="/services" class="services">Web services</a></h3>
    <h3 class="drop-shadow lifted rotated"><a href="/portfolio" class="portfolio">Web design portfolio</a></h3>
    <h3 class="drop-shadow lifted rotated"><a href="/sale" class="sale">On Sale</a></h3>
    <h3 class="drop-shadow lifted rotated"><a href="/feedback" class="feedback">Feedback</a></h3>
</nav>

<nav id="pages" class="block">
  <h3 class="hidden">Page menu</h3>
  <ul>
    <h3><a href="/about"><li>/About</li></a></h3>
    <h3><a href="http://ungainlyy.jux.com"><li>/B/log</li></a></h3>
    <h3><a href="/contact"><li>C/ontact</li></a></h3>
</nav>
