.desktop {
  display: none;
}
.mobile {
  display: block;
}


#container, .contract #container {
  width: 95% !important;
  margin: 0 auto;
}


/* Typography
*/
h1 { font-size:3.42308em; padding:1.38338em 0; }
h2 { font-size:1.61538em; padding:1.30936em 0; }
h3 { font-size:1.30769em; padding:1.28686em 0; }

body {
  font-family: serif;
}


/* Header
*/

#info #collections a {
  padding: .156em;
}
#info #pages {
  margin: 2.5em 0;
  width: auto;
}

#logo-image img {
  width: 300px;
  height: auto;
  margin: .625em 0;
}


/* Content
*/


#content, #message {
  float: left;
  width: 100%;
}
#item .info {
  width: auto;
}
#item .info h3 a {
  text-decoration: none;
}
#content #just-text {
  margin-left: 1%;
  font-size: 100%;
}
.content {
  padding: .625em;
  background: #a39b87;
  opacity: .85;
}

article.page {
  margin-top: 0;
}
article #images a {
  text-decoration: none;
}

blockquote {
  background: none;
}


table td, table th {
  padding: 2.5% 1.5%;
}


/* Portfolio
*/

.portfolio #screenshots .link {
  text-decoration: none;
}
.portfolio #background-image {
  margin: 2% 0 0;
}
.portfolio #background-image, .portfolio #background-image img {
  width: auto;
  height: auto;
}
.portfolio #logo {
  position: relative;
}
.portfolio #logo ul.inline-list {
  margin-left: 0;
  text-align: center;
}
.portfolio #logo ul.inline-list li.desktop {
  display: none;
}
.portfolio #logo-image img {
  width: 60%;
  height: auto;
  margin: 0;
}
.portfolio ul.inline-list li.message {
  display: block;
  font-size: smaller;
  padding-bottom: 1%;
}
.portfolio ul.inline-list li.message span.mobile {
  display: inline-block !important;
}

.portfolio #next, .portfolio #previous {
  font-size: larger;
  bottom: 1em;
}

