#container {
  width: 95%;
  margin: 0 auto;
}

/* Typography
*/
h1 { font-size:3.42308em; padding:1.38338em 0; }
h2 { font-size:1.61538em; padding:1.30936em 0; }
h3 { font-size:1.30769em; padding:1.28686em 0; }


#content {
  display: none !important;
}

