.desktop {
  display: none;
}
.mobile {
  display: block;
}


#container {
  width: 95%;
  margin: 0 auto;
}

/* Typography
*/
h1 { font-size:3.42308em; padding:1.38338em 0; }
h2 { font-size:1.61538em; padding:1.30936em 0; }
h3 { font-size:1.30769em; padding:1.28686em 0; }


/* Header
*/

#info #collections a {
  padding: .156em;
}
#info #pages {
  margin: 2.5em 0;
  width: auto;
}

#logo-image img {
  width: 300px;
  height: auto;
  margin: .625em 0;
}


/* Content
*/


#content, #message {
  float: left;
  width: 100%;
}
#item .info {
  width: auto;
}
#content #just-text {
  margin-left: 1%;
  font-size: 100%;
}
.content {
  padding: .625em;
  background: #a39b87;
  opacity: .85;
}

article.page {
  margin-top: 0;
}
article header {
  display: block !important;
}

table {
  width: 98%;
}



/* Portfolio
*/

.wide #background-image {
  width: auto;
  height: 480px;
  margin: 2% 5% 0;
}
.wide #logo {
  position: relative;
}
.wide #logo ul.inline-list {
  margin-left: 0;
  text-align: center;
}
.wide #logo ul.inline-list li.desktop {
  display: none;
}
.wide #logo-image img {
  width: 60%;
  height: auto;
}
.wide ul.inline-list li.message {
  display: block;
}

