.mobile {
  display: none;
}



/* Typography
*/
h1 { font-size:5.42308em; padding:.5em 0; }
h2 { font-size:1.61538em; padding:1.30936em 0; }
h3 { font-size:1.30769em; padding:1.28686em 0; }


/* Header
*/

#info {
  width: 100%;
  position: absolute;
}
#info #menu {
  position: fixed;
}



/* Content
*/

#content, #message {
  position: relative;
  top: 9em;
  right: 1%;  
  width: 50%;
  z-index: 1;  
}
#item .info {
  top: 5em;
  left: -7em;
  width: 10em;
  position: relative;
  z-index: 2;
}


/* Portfolio
*/

.portfolio #next {
  right: .1em;
}
.portfolio #previous {
  left: .1em;
}

.portfolio #next, .portfolio #previous {
  top: 65%;
}



