/* Colors

- base, brown: A39B87
  - lighter, D6D19C, kuler compound
- base, gray: EEE
- colors: kuler, refreshing melon
*/



/* Links and colors
*/

a, a:visited, .link {
  color: #000;
  text-decoration: underline;
}


#menu a, #menu a:visited, #pages a, #pages a:visited, #collections a, #collections a:visited {
  text-decoration: none;
}
#menu a.home, #menu a:active, #menu a:hover {
  text-decoration: underline;
}


.services {
  background: #8DC7B8 !important;
}
.portfolio {
  background: #A7BD5B !important;
}
.sale {
  background: #DC574E !important;
}
.feedback {
  background: #ED9355 !important;
}
.services-triangle {
  border-color: transparent transparent #8DC7B8 !important;
}
.portfolio-triangle {
  border-color: transparent transparent #A7BD5B !important;
}
.sale-triangle {
  border-color: transparent transparent #DC574E !important;
}
.feedback-triangle {
  border-color: transparent transparent #ED9355 !important;
}

#divider .triangle-top {
  border-color: transparent transparent #eee;
}

#feedback blockquote, .feedback blockquote {
  background: none;
}



/* Header
*/

#info #menu {
  background: #a39b87;
  opacity: .85;
}

#info #collections a {
  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
}


/* Content
*/

#item .info {
  background: #D6D19C;
  opacity: .9;
}

th {
  border-bottom: 1px solid #ccc;
}
td {
  border-bottom: 1px dotted #ccc;
}

blockquote {
  background: #f6f6f6;
}



/* Portfolio
*/

body.portfolio {
  background: #A39B87 !important;
}
.portfolio #background-image {
  -moz-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;  
}
.portfolio #logo {
  background: #A39B87;
  opacity: .85;
}

.portfolio nav {
  opacity: .1;
}

