---
---

{% include head.html %}

<body class="contract">
  <div id="container">    
    
    <header class="block">
      <hgroup id="logo">
        <a href="/"><img src="/assets/logo-ungainly2.png" /></a>
      </hgroup>
    </header>
    
    <section id="body" class="block">
      {{ content }}
    </section>
    
    <footer class="block">
      <p>
        You can download this contract from
        <a title="The Ungainlyy Contract" href="http://ungainlyy.com/ungainlyy-contract.pdf">http://ungainlyy.com/ungainlyy-contract.pdf</a>
      </p>
    </footer>
  </div>
  
  {% include ga.html %}
</body>
</html>
