---
layout: default
---

<header class="hidden"><h6>The {{ page.title }} page</h6></header>
{% assign post = page %}
{% include article.html %}

<nav id="similar" class="block">
  <header><h3>More in <em>{{ page.categories.first }}</em></h3></header>
  <ul>
  {% for post in site.posts %}
    {% if (post.categories.first == page.categories.first) and (post.title != page.title) %}
      <li><a title="Visit {{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
