---
---
{% include head.html %}  
  <body class="wide">
    <div id="container">
          
      <section id="screenshots"> 
        <header><h3 class="hidden">Screenshoots</h3></header>
        <div id="background-image">
          <img class="link" title="" rel="{{ page.link }}" src="/assets/{{ page.images.first.src }}"/>
        </div>
        
        <ul id="posts" class="hidden">
          {% for post in site.categories.portfolio %}
            <li class="{{ post.link }}">{{ site.url }}{{ post.url }}</li>
          {% endfor %}
        </ul>        
      </section>
      
      <header id="logo" class="block">
        <h3 class="hidden">Menu</h3>  
        <ul class="inline-list">
          <li class="desktop"><h1><a href="/">Ungainly</a></h1></li>            
          <li class="mobile">
            <div id="logo-image" class="mobile">
              <a href="/"><img src="/assets/logo-ungainly.png" /></a>
            </div>
          </li>
          <li class="message"><em>Click for next. Double click to view live</em></li>            
        </ul>     
      </header>
      
    </div>   
    
    {% include ga.html %}
  </body>
</html>


